<div class="card-product mt-1 <%= bookmark.source.downcase.split.join('_') %>" data-toggle-target="toggleable<%= bookmark.source.downcase.split.join('_').capitalize%>">
  <img src="<%=bookmark.image if bookmark.image.present?%>">
  <div class="card-product-infos">
    <h2><strong><%= bookmark.source %></strong></h2>
    <h2><%= bookmark.title if bookmark.title.present? %></a></h2>
  <p><%= bookmark.content[..40] if bookmark.content.present? %>...Click to read more... <strong> <%= bookmark.published if bookmark.published.present?%> </strong></p>
  <div class="d-flex mt-3">
    <%= link_to bookmark_path(bookmark), class: "btn btn-secondary mr-5", data: { turbo_method: :delete, turbo_confirm: "Delete #{bookmark.title}?" } do %>
      <i class="fa-solid fa-trash-can"></i>
    <% end %>
    <%= link_to edit_bookmark_path(bookmark), class: "btn btn-secondary ml-5" do %>
      <i class="fa-solid fa-marker fa-2xl"></i>
    <% end %>
  </div>
  <div>
    <% if bookmark.reader_comment.present? %>
      <p><strong><%= current_user.username.strip %>'s Comment: "<%= bookmark.reader_comment %>"</strong></p>
    <% end %>
    <% if bookmark.rating.present? %>
        <%= bookmark.rating.times do  %>
          <i class="fa-solid fa-star fa-bounce fa-lg"></i>
        <% end %>
    <% end %>
  </div>
</div>
</div>
