<div class="mulpy" data-controller="read" data-read-target="mulpy" data-read-id="<%= article.id %>">
  <div class="card-product mt-1 <%= article.source.downcase.split.join('_') %>" data-toggle-target="toggleable<%= article.source.downcase.split.join('_').capitalize%>">
    <img src="<%=article.image if article.image.present?%>">
    <div class="card-product-infos">
      <h2><strong><%= article.source %></strong></h2>
      <h2><%= article.title if article.title.present? %></a></h2>
    <p><%= article.content[..40] if article.content.present? %>...Click to read more... <strong> <%= article.published if article.published.present?%> </strong></p>
    <div class="d-flex mt-3">
      <%# <%= link_to news_article_path(article), class: "btn btn-secondary", data: { turbo_method: :delete, turbo_confirm: "Delete #{article.title}?" } do %>
        <i class="fa-solid fa-trash-can" data-action="click->read#delete"></i>
        <%# <% end %>
        <div class="checkbox">
          <div class="form-check">
            <input autocomplete="off" name="read" type="hidden" value="0">
            <input class="form-check-input" id="read_<%= article.id %>" name="read" type="checkbox" value="1" data-action="change->read#read">
            <label class="form-check-label" for="read_<%= article.id %>">Read</label>
          </div>
        </div>
        <div data-read-target="bookmark">
          <% if user_signed_in? %>
            <%= link_to bookmarks_create_path(article: article) do %>
              <i class="fa-regular fa-bookmark" data-action="click->read#bookmark"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
