<div class="card-product">
  <img src="<%=article.image%>" />
  <div class="card-product-infos">
    <h2><%= article.source %></h2>
    <h2><a href="<%=article.link %>" target="_blank"><%= article.title %></a></h2>
    <p><%= article.content %> <strong><%= article.published %></strong></p>
  </div>
</div>
