<div class="card-product mt-3">
  <img src="<%=article.image if article.image.present?%>" />
  <div class="card-product-infos">
    <h2><%= article.source %></h2>
    <h2><a href="<%=article.link if article.link.present?%>" target="_blank"><%= article.title if article.title.present? %></a></h2>
    <p><%= article.content if article.content.present? %> <strong><%= article.published if article.published.present?%></strong></p>
  </div>
</div>
