<div  class="container">
  <div data-controller="toggle">
    <div data-controller="pie">
      <div class="parent">
        <div class="title">
          <h1>News Scraper</h1>
        </div>
      </div>
      <%= render 'search' %>
      <% if params[:search].present? %>
        <div class="d-flex justify-content-center">
          <%= render 'checkboxes' %>
        </div>
        <div class="parent">
          <div class="results">
            <h3>Showing results for "<%= params[:search][:query].split.map(&:upcase).join(' & ')%>"</h3>
          </div>
        </div>
        <div class="d-flex">
          <div class="container p-5">
            <% @articles.each do |article| %>
              <div>
                <%= render 'search_results_card', article: article %>
              </div>
            <% end %>
          </div>
          <div class="container p-5" >
            <div class="shadow p-3 mb-5 bg-white rounded mt-4" id="stats">
              <div class="d-flex justify-content-center">
                <div class="align-self-center">
                  <h2>News Statistics</h2>
                </div>
              </div>
              <h4><%= @articles.length %> Articles:</h4>
              <ul>
                <li>BBC: <%= @bbc_articles.count %> articles</li>
                <li>Politico: <%= @politico_articles.count %> articles</li>
                <li>Al Jazeera: <%= @al_jazeera_articles.count %>
                  articles</li>
                <li>NYT: <%= @nyt_articles.count %> articles</li>
                <li>Japan Times: <%= @japan_times_articles.count %> articles</li>
              </ul>
              <%= render 'js_converter' %>
              <div class="d-flex justify-content-center">
                <div class="align-self-center">
                  <button type="button" class="btn btn-primary"  data-action="click->pie#fire">Show Pie Chart</button>
                </div>
              </div>
              <div class="chart" id="pie">
                <canvas data-pie-target='pie'></canvas>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
