<div  class="container">
  <div data-controller="toggle">
    <div class="parent">
      <div class="title">
        <h1>News Scraper</h1>
      </div>
    </div>
    <%= render 'search' %>
    <div class='d-flex'>
      <%= render 'checkboxes' %>
    </div>
    <% if params[:search].present? %>
      <div class="parent">
        <div class="results">
          <h3>Showing <%= @articles.length  %> results for "<%= params[:search][:query].split.map(&:upcase).join(' & ')%>"</h3>
        </div>
      </div>
      <div class="d-flex">
        <div>
          <ol>
            <% @articles.each do |article| %>
              <li><%= render 'search_results_card', article: article %></li>
            <% end %>
          </ol>
        </div>
      </div>
    <% end %>
  </div>
</div>
