<div  class="container">
  <div data-controller="toggle">
    <div data-controller="pie">
      <div class="parent">
        <div class="title">
          <h1>News Scraper</h1>
        </div>
      </div>
      <%= render 'search' %>
      <% if params[:search].present? %>
        <div class="d-flex justify-content-center">
          <%= render 'checkboxes' %>
        </div>
        <div class="parent">
          <div class="results">
            <h3>Showing results for "<%= params[:search][:query].split.map(&:upcase).join(' & ')%>"</h3>
          </div>
        </div>
        <div class="d-flex">
          <div class="container p-5">
            <% @articles.each do |article| %>
              <div>
                <%= render 'search_results_card', article: article %>
              </div>
            <% end %>
          </div>
          <div class="container p-5" >
            <div class="shadow p-3 mb-5 bg-white rounded mt-4" id="stats">
              <div class="d-flex justify-content-center">
                <div class="align-self-center">
                  <h2>News Statistics</h2>
                </div>
              </div>
              <h4><%= @articles.length %> Articles:</h4>
              <ul>
                <li>BBC: <%= @bbc_articles.count %> articles</li>
                <li>Politico: <%= @politico_articles.count %> articles</li>
                <li>Al Jazeera: <%= @al_jazeera_articles.count %>
                  articles</li>
                <li>NYT: <%= @nyt_articles.count %> articles</li>
                <li>Japan Times: <%= @japan_times_articles.count %> articles</li>
              </ul>
              <%= render 'js_converter' %>
              <div class="d-flex justify-content-center">
                <div class="align-self-center">
                  <button type="button" class="btn btn-primary"  data-action="click->pie#fire">Show Pie Chart</button>
                </div>
              </div>
              <div class="chart" id="pie">
                <canvas data-pie-target='pie'></canvas>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <%= render 'home' %>
        <div id="carouselExampleCaptions" class="carousel slide mt-4" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
          </div>
          <div class="carousel-inner">
            <% @articles.each do |article| %>
              <div class="<%= article == @articles.first ? 'carousel-item active carousel-img' : 'carousel-item carousel-img'%>">
                <a href="<%= article.link %>" target="_blank"><%= render 'headline', article: article %></a>
              </div>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% end %>
  </div>
</div>
</div>
