<% @api = @ruby_api %>
<%= javascript_tag do %>
  const jsApi = <%= @api %>;
<% end %>
<div class="container p-4" >
  <div class="shadow p-3 mb-1 bg-white rounded">
    <div class="parent">
      <div class="title">
        <h1>Today is <%= Date.today.strftime('%A, %e %B %Y') %></h1>
      </div>
    </div>
  </div>
</div>
<div class="chuck" data-controller="chuck">
  <div class="container p-4" >
    <div class="shadow p-3 mb-1 bg-white rounded">
      <div class="parent">
        <div class="results">
          <h3>On this day in <%= @year %>, <%= @fact %></h3>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="align-self-center chuck-button" data-chuck-target='button'>
          <button type="button" class="btn btn-primary"  data-action="click->chuck#fire">Chuck!</button>
        </div>
      </div>
      <div id="chuckfact" data-chuck-target='chuckfact'>
      </div>
      <div id="chuck" data-chuck-target='chuck'>
      </div>
    </div>
  </div>
</div>
